.btn-brown {
  background-color:#AB947E ;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.btn-brown:hover{
background-color: #593D3B;
}
